.login {
    background-color: blueviolet;
    background-color: blueviolet;
    background-color: blueviolet;
    background-color: blueviolet;
    background-color: blueviolet;
}
.login__form {
    color: aquamarine;
}